# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env/
.venv/
venv/
.venv/
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints

# PyCharm
.idea/

# Data
02_Data/Raw/
02_Data/Processed/

# Models / Results (large files)
05_Results/
04_Src/models/*.pt
04_Src/models/*.pth

# System
Thumbs.db
.DS_Store
